<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <title>User page</title>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${user.getUsername()}">Name</td>
            <td th:text="${user.getLastName()}">Surname</td>
        </tr>
        </tbody>
    </table>
</div>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>