<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>User Panel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<nav class="navbar navbar-dark bg-dark" style="height: 50px">
    <ul class="list-inline mt-2 text-light">
        <h5 class="list-inline-item  font-weight-bold" th:text="${user.getEmail()}"></h5>
        <h5 class="list-inline-item ">with roles: </h5>
        <h5 class="list-inline-item " th:text="${user.getRoles()}"></h5>
    </ul>
    <form class="form-inline">
        <button class="btn btn-dark mt-n3" formaction="/logout" role="button">Logout</button>
    </form>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="nav flex-column nav-pills ml-n3 mt-3" style="width: 268px" id="list-tab" role="tablist"
                 aria-orientation="vertical">
                <a class="nav-item nav-link border-0 active" id="user-profile-list" data-toggle="list"
                   href="#user-profile" role="tab" aria-controls="profile" aria-selected="false">User</a>
            </div>
        </div>
        <div class="col bg-light" style="height: 690px">
            <div class="tab-content" id="main-tabContent">
                <div class="tab-pane fade show active" id="user-profile" role="tabpanel"
                     aria-labelledby="user-profile-list">
                    <div class="tab-content" id="user-tabContent">
                        <div class="col">
                            <h1 class="display-4 font-weight-normal text-left mt-2 mb-3">User information-page</h1>
                            <div class="card-body font-weight-bold h4">
                                About user
                            </div>
                            <div class="card-footer bg-white">
                                <table class="table bg-white table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Roles</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td th:text="${user.id}">Id</td>
                                        <td th:text="${user.name}">First name</td>
                                        <td th:text="${user.lastName}">Last Name</td>
                                        <td th:text="${user.email}">Email</td>
                                        <td th:text="${user.age}">Age</td>
                                        <td th:text="${user.roles}">Roles</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="js/main.js"></script>
<script src="webjars/jquery/3.3.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>